{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/shared_list.css' %}" />
    <script src="{% static 'js/functions.js' %}"></script>
</head>

<body>
    <div class="container">
        {% include "user_information.html" %}

        {% if sharedlist is True %}

            <form action="{% url 'shared_list:new_purchase'%}" method="post">
                {% csrf_token %}
                <p>
                    <label for="new-task">Add item to the shopping list</label>
                        <input id="new-task" type="text" name="product_name">
                    <button type="submit">Add</button>
                </p>
            </form>

            {% if purchases %}

                <h3>
                    To buy
                </h3>
                <ul id="incomplete-tasks">
                    {% for purchase in purchases %}
                        {% if purchase.purchased is not True %}
                            <li>
                                <label>
                                    {{ purchase.product_name}}
                                </label>
                                <form action="{% url 'shared_list:pay_purchase' purchase.id %}">
                                    {% csrf_token %}
                                    <button class="pay" type="submit" > Paied </button>
                                </form>
                                <form action="{% url 'shared_list:delete_purchase' purchase.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="delete" type="submit">Delete</button>
                                </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h3>
                Historic <button class="edit" onclick="display_paied_purchases()">+</button>
                </h3>
                <div id="display-paied-purchases">

                    <ul id="completed-tasks">
                        {% for purchase in purchases %}
                            {% if purchase.purchased is True%}
                                <li>
                                    <label>
                                        {{ purchase.product_name }} {{purchase.product_price}}$
                                    </label>
                                    <form action="{% url 'shared_list:edit_purchase' purchase.id %}">
                                        {% csrf_token %}
                                        <button class="edit" type="submit" > Edit </button>
                                    </form>
                                    <form action="{% url 'shared_list:delete_purchase' purchase.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="delete" type="submit">Delete</button>
                                    </form>
                                </li>
                            {% endif %}
                         {% endfor %}
                    </ul>
                </div>

            {% else %}
                <p>No purchases are available.</p>
            {% endif %}


        {% else %}
            <div> No group </div>
            <div> create one <a href="{% url 'user_system:new_group'%}">here</a> </div>
            <div> Join one <a href="{% url 'user_system:join_group'%}">here</a></div>
        {% endif %}


        <h3>
                Debts table <button class="edit" onclick="display_debt_table()">+</button>
        </h3>
        {% if debts_table is not None %}
            <div id="display-debt-table">
                <ul>
                {% for key, value in debts_table.items %}
                  <li>
                      {{cssclass}}
                      <label>
                          <p>{{key}}</p> {% if value < 0%}<p class="negative">{{value}}$</p> {%else%} <p class="positive">{{value}}$</p> {%endif%}
                      </label>
                  </li>
                {% endfor %}
                </ul>
            </div>
        {%endif%}

    </div>
</body>