{% include "user_information.html" %}

{% if sharedlist is True %}
    {% if purchases %}
        {{purchases}}
        <ul>
            {% for purchase in purchases %}
                <form action="{% url 'shared_list:delete_purchase' purchase.id %}" method="post">
                    {% if purchase.purchased is True %}
                        <li><strike>{{ purchase.product_name }}------{{purchase.product_price}}$</strike></li>
                    {% else %}
                        <li>{{ purchase.product_name}}</li>
                    {% endif %}

                    {% csrf_token %}
                    <a href="pay_purchase/{{purchase.id}}"> I paid for it</a>
                    <input type="submit" value="delete purchase">
                </form>
            {% endfor %}
        </ul>

    {% else %}
        <p>No purchases are available.</p>
    {% endif %}

    <a href="{% url 'shared_list:new_purchase'%}"> Add a new Purchase</a>

{% else %}
    <div> No group </div>
    <div> create one <a href="{% url 'user_system:new_group'%}">here</a> </div>
    <div> Join one <a href="{% url 'user_system:join_group'%}">here</a></div>
{% endif %}

{% if debts_table is not None %}
<ul>
{% for key, value in debts_table.items %}
  <li>{{key}} <-> {{value}}</li>
{% endfor %}
</ul>
{%endif%}